// swift-tools-version: 6.0

import PackageDescription

let package = Package(
    name: "SQLiteNowCleanConsumer",
    platforms: [
        .macOS(.v14),
    ],
    dependencies: [
        .package(url: "{{SQLITENOW_DISTRIBUTION_URL}}", exact: "{{SQLITENOW_VERSION}}"),
    ],
    targets: [
        .target(name: "SQLiteNowCleanConsumer"),
    ]
)
